@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('../fonts/AvenirNext-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../fonts/AvenirNext-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Next DemiBold';
  src: url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Next UltraLight';
  src: url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
}

body, html {
  overflow-x: hidden;
}

body {
  background: #120638;
  font-family: 'Avenir Next Regular';
}

.spb nav {
  background-color: #120638 !important;
}

.spb .navbar img {
  width: 150px;
}

.spb .btn {
  font-family: 'Avenir Next Medium';
  display: block;
  background-color: #EC6EAC;
  border-color: #EC6EAC;
  font-size: 16px;
  color: #FFFFFF;
}

.spb-welcome {
  background-image: url("https://s3-us-west-1.amazonaws.com/spectrumbiobank892y739/v1/images/helix_background.svg");
  background-size: 100% auto;
  font-family: 'Avenir Next Bold';
}

.spb-welcome-text h3 {
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 29px;
  font-family: 'Avenir Next Bold';
  margin-top: 150px;
  margin-bottom: 10px;
  max-width: 500px;
}

.spb-welcome-text h4 {
  color: #ffffff;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 21px;
  font-family: 'Avenir Next Regular';
  width: 375px;
}



.spb-welcome-text img {
  display: block;
  margin: auto;
  max-width: 400px;
}

.spb-welcome .input-group {
  font-family: 'Avenir Next Regular';
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
}

.spb-welcome .input-group ::placeholder {
  color: #CCCCCC;
}

.spb-welcome-text .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}

.spb-welcome-connected img {
  max-width: 400px;
  margin: auto;
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
}

.spb-welcome #mc_embed_signup_scroll {
  margin: auto;
  max-width: 400px;
  margin-top: 15px;
  font-family: 'Avenir Next Regular';
}

.spb-welcome input[type=email] {
  float: left;
  height: 38px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 0px;
  padding: 5px 10px;
}

.spb-welcome .input-group-btn {
  height: 40px;
}
.spb-slide {
  margin: 0px;
  padding: 0px;
}

.spb-pm {
  background: #ffffff;
}

.spb-pm .text-top {
  font-family: 'Avenir Next Bold';
  font-size: 15px;
  color: #EC6EAC;
}

.spb-pm .text-title {
  font-family: 'Avenir Next Bold';
  font-size: 31px;
  color: #0D2562;
}

.spb-pm .text-bottom {
  font-family: 'Avenir Next Regular';
  font-size: 19px;
  color: #53585F;
  margin: 15px 0px 0px 0px;
}


.spb-pm .left {
  padding: 69px 30px 10px 30px;
}

.spb-pm .right {
  padding: 30px 0px 30px 0px;
}

.spb-pm .right img {
  width: 500px;
  float: right;
}

.spb-gap {
  background: #120638;
  margin: 0px;
  padding: 0px;
}

.spb-gap .text-top {
  font-family: 'Avenir Next Bold';
  font-size: 15px;
  color: #4BA6E6;
  margin: 40px 0px 0px 30px;
}

.spb-gap .text-title {
  font-family: 'Avenir Next Bold';
  font-size: 31px;
  color: #FFFFFF;
  margin: 0px 0px 0px 30px;
  width: 500px;
}

.spb-gap .text-bottom {
  font-family: 'Avenir Next Regular';
  font-size: 19px;
  color: #FFFFFF;
  margin: 15px 0px 0px 30px;
  width: 500px;
}

.spb-gap #spb_ancestry_thing {
  width: 100%;
  margin: -200px 0px 0px 0px;
}

footer {
  background-image: url('https://s3-us-west-1.amazonaws.com/spectrumbiobank892y739/v1/images/helix_background.png');
  background-size: cover;
  padding: 0px 0px 20px 0px;
  font-family: 'Avenir Next Regular';
  color: #FFFFFF;
  font-size: 15px;
}

footer a {
  color: #FFFFFF;
}

footer .footer-copyright {
    margin: 50px 0px 00px 0px;
}

footer .footer-copyright a {}

footer h5 {
  font-size: 15px;
}

@media screen and (max-width: 992px)
/* smaller than Desktop */
  {
  .spb-welcome {
    background-size: cover;
  }

  .spb-welcome-text h3 {
    width: 90%;
    margin-top: 120px;
  }

  .spb-welcome-text h4 {
    width: 90%;
    font-size: 19px;
  }

  .spb-welcome-text img {
    display: block;
    margin: auto;
    max-width: 300px;
  }

  .spb-welcome-connected img {
    max-width: 336px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .spb-pm .text-top {
    font-size: 20px;
  }

  .spb-pm .right img {
    width: 99%;
    max-width: 500px;
  }

  .spb-gap {
    background: #120638;
    margin: 0px;
    padding: 0px;
  }

  .spb-gap .text-top {
    font-family: 'Avenir Next Bold';
    font-size: 15px;
    color: #4BA6E6;
    margin: 40px 0px 0px 30px;
  }

  .spb-gap .text-title {
    width: 85%;
  }

  .spb-gap .text-bottom {
    width: 85%;
  }

  .spb-gap #spb_ancestry_thing {
    width: 100%;
    margin: 40px 0px 0px 0px;
  }

  .spb-mail .card {
    padding: 20px 20px;
  }

  .spb-mail .card-title {
    font-size: 24px;
  }

  .spb-mail .card-text {
    font-size: 17px;
    line-height: 26px;
  }

  .spb-mail label {
    font-size: 20px;
  }

  .spb-mail #interestTable label {
    font-size: 17px;
  }

  .spb-mail .btn {
    font-size: 19px;
  }
}

@media screen and (max-width: 414px) {

  .spb-welcome #mc_embed_signup_scroll {
    max-width: 340px;
  }

  .spb-welcome input[type=email] {
    width: 180px;
  }
}


@media screen and (max-width: 325px) {

  .spb-welcome #mc_embed_signup_scroll {
    max-width: 310px;
  }

  .spb-welcome input[type=email] {
    width: 150px;
  }
}
